@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layoutlatihan";
}

<script src="~/js/site.js"></script>
<link rel="stylesheet" href="~/css/Latihan.css" />
<div class="badan" style="margin-top: 100px;">
    <div class="row" style="border:solid; border-color:red;">
        <div class="col-md-6" style="border-right:solid; border-color:red;">
            <p>
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            </p>
        </div>
        <div class="col-md-6">
            <div class="row" style="border-bottom: solid; border-color:red;">
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>
            <div class="row">
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>
        </div>
    </div>
</div>
