@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layoutlatihan";
}

<table class="table table-dark table-striped table-bordered border-light" style="margin-top: 50px;">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Height</th>
      <th scope="col">Mass</th>
      <th scope="col">Eye Color</th>
      <th scope="col">Birth Year</th>
    </tr>
  </thead>
  <tbody id="tableSW">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>