@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutMD";
}

<link rel="stylesheet" href="~/css/Statistic.css" />
<div class="row">
<div class="col-md-6">
    <div id="sexchart">

    </div>
</div>

<div class="col-md-6">
    <div id="unichart">

    </div>
 </div>
 </div>
